body{
    background-image: url("img/wallpaper.jpg");
    margin: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

.wrap{
    width: 100%;
    height: 400px;
    margin: auto;
}

.menu{
    width: 100%;
    height: 100px;
}

.menu ul{
    text-decoration: none;
    display: inline;
}

.menu ul li{
    display: inline;
}

.menu ul li b{
    display: inline-block;
    margin-right: 400px;
    padding-top: 26px;
    font-size: 30px;
    font-weight: bold;
}

.menu ul li a{
    margin-right: 5px;
    font-size: 18px;
    text-decoration: none;
    color: #00ff00;
    padding: 17px;
    font-weight: bold;
}

.menu a:hover{
    background: #00ff00;
    cursor: pointer;
    border-radius: 25px;
    color: white;
}

.blog{
    height: 600px;
    width: 100%;
}

.blog img{
    background-size: cover;
}

.blog h2{
    padding-left: 30px;
    color: chartreuse;
}

.blog p{
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

.bottom {
    text-align: center;
	overflow:hidden;
	color:white;
	list-style: none;
	width: 100%;
	height: auto;
	margin-top:40px;
	background: #00FF00;\
}
